{{user-wrapper user=user}}
<br>
<h4>Add a new game</h4>
{{new-game addNewGame="addNewGame"}}
<br>
{{new-admin addAdmin="addAdmin"}}
<h4>Users:</h4>
<ul class="list-group">
  {{log currentUser}}
  {{#each users as |otherUser|}}
    {{#if (not-eq currentUser.currentUser otherUser)}}
      {{user-tile class="list-group-item" user=otherUser deleteUser="deleteUser"}}
    {{/if}}
  {{/each}}
</ul>
