<h4 class="floatRight">Score: {{averageScore}}</h4>
<h4 {{action 'showDetails'}}>{{game.name}}</h4>
{{#if showingDetails}}
<div class="row">
  <div class="col-sm-4">
    <img src={{game.image}} class="tileImg">
  </div>
  <div class="col-sm-6">
    <h5>Genre: {{game.genre}}</h5>
    {{game.description}}

  </div>
  <div class="col-sm-2">
    {{#if currentUser}}
      {{#link-to 'game' game.id class="btn btn-primary"}}View Reviews{{/link-to}}
    {{/if}}
  </div>
</div>
{{/if}}
