<div class="reviewTile">
  <p class='floatRight'>{{score-stars review.score}}</p>
  <h4>{{review.review}}</h4>
  <p><b>{{review.author.username}}</b> - {{review.date}}</p>
  <br>
  <p>{{review.details}}</p>
</div>
