{{#if signingUp}}
<form>
  <div class="form-group">
    <label for="newUsername">Username</label>
    {{input value=newUsername id="newUsername" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="newPassword">Password</label>
    {{input value=newPassword id="newPassword" type="password" class="form-control"}}
  </div>
  <button {{action 'signUp'}} class="btn btn-primary">Go!</button>
</form>
{{else}}
<button {{action 'signingUp'}} class="btn btn-primary">Don't have an account?</button>
{{/if}}
