<h4 {{action 'showDetails'}}>{{user.username}}</h4>

{{#if showingDetails}}
  <div class="row">
    <div class="col-sm-6">
      <p>Reviews:</p>
      {{#each user.reviews as |review|}}
      <div>
        {{review.review}}   {{score-stars review.score}}
      </div>
      {{/each}}
    </div>
    <div class="col-sm-6">
      {{#link-to 'user' user.id}}View User Page{{/link-to}}
      <button {{action 'deleteUser' user}} class='btn btn-danger'>Delete User</button>
    </div>
  </div>
{{/if}}
